@model _02_MVCHoca.Models.Urun

<form asp-action="Guncelle" method="post" enctype="multipart/form-data">
@*     //Update isleminde id'yi tutmadıgımız için guncelleme işleminde sürekli insert yapar
    //Bunun için hidden olarak id göndermelisin *@
    <input type="hidden" asp-for="UrunID"/>
    <table class="table">
        <tr>
            <td><label asp-for="UrunAdi"></label></td>
            <td> <input asp-for="UrunAdi" class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="Fiyat"> </label></td>
            <td><input asp-for="Fiyat" class="form-control" /></td>
        </tr>

        <tr>
            <td><label asp-for="KategoriID"> </label></td>
            <td>
                <select asp-for="KategoriID" asp-items="@ViewBag.Kategoriler" class="form-control">
                </select>
            </td>
        </tr>
        <tr>
            <td><label asp-for="Aciklama"> </label></td>
            <td>
                <textarea cols="60" rows="5" asp-for="Aciklama">
                </textarea>
            </td>
        </tr>

        <tr>
            <td><label asp-for="Resim">Resim</label></td>
            <td><input type="file" class="form-control" name="yeniResim" /></td>
        </tr>

        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-primary">Ürünü Guncelle</button>
            </td>
        </tr>
    </table>
</form>
